
services:
  web:
    build: .
    command: sh -c "python manage.py collectstatic --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    expose:
      - "8000"
    depends_on:
      - db
      - redis
    env_file:
      - ./.env

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web

  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7
    volumes:
      - redis_data:/var/lib/redis/data
    env_file:
      - ./.env
#    ports:
#      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: Dockerfile_celery
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis


  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile_celery
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  static_volume:
  redis_data:
