
services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
      - static_volume:/code/static
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - ./.env

  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    expose:
      - '5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis
    volumes:
      - redis_data:/var/lib/redis/data
    env_file:
      - ./.env
    depends_on:
      - db
    ports:
      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: Dockerfile_celery
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis


  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile_celery
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - db
      - redis

  nginx:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./html:/usr/share/nginx/html

volumes:
  postgres_data:
  static_volume:
  redis_data:
